/* Main Body */
.music__main {
  background-color: #141414;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 72% 28%;
}

.sidebar {
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
  height: auto;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
}

.spotify {
  justify-content: center;
  width: 90%;
  height: max-content;
  margin: 20px;
  justify-self: center;
  position: sticky;
  top: 100px;

}

.blog__container {
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
  height: auto;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
}

/* Posts */
.blog__post {
  background-color: #fff;
  width: 90%;
  margin: 20px;
  justify-self: center;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
}

/* Link to full post - Includes both author and title */
.post__button {
  text-decoration: none;
  color: black;
  width: max-content;
}

.post__button:hover {
  text-decoration: none;
  text-decoration: underline;
}
.blog__link {
  width: max-content;
}

/* Post Images */
.album__cover {
  width: 250px;
  height: auto;
}

.blog__image {
  float: left;
  height: 250px;
  position: relative;
}

/* Post Text */
.authorTitle {
  display: grid;
  grid-template-columns: 32px auto;
  font-size: 1.5rem;
  padding-left: 5px;
  padding-top: 3px;
  width: max-content;
}

.blog__text h1 {
  font-size: 1.7rem;
}

.blog__text h2 {
  font-size: 1.3rem;
}

.blog__text p {
  padding: 3px 5px;
}

.blog__text h5 {
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 920px) {

  .sidebar {
    display: none;
  }

  .music__main {
  display: inline;
  }

  .blog__container {
    width: 100%;
    padding: 90px 50px 15px 50px;
  }

}

/* Mobile Responsive */
@media screen and (max-width: 767px) {
  .blog__container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .blog__post {
    display: block;
    width: 100%;
    height: 600px;
  }

  /* Post Images */

  .blog__image {
    width: 100%;
    height: auto;
  }

  .album__cover {
    width: 100%;
    height: auto;
  }

  /* Post Text */

  .blog__text {
    height: 500px;
  }

  .blog__text h1 {
    font-size: 1.5rem;
  }
}

/* Adjustment for wider screens */
@media screen and (max-width: 767px) and (max-height: 512px) {
  .blog__post {
    height: 750px;
    width: 80%;
  }
  
}

/* Adjustment for smaller screens */
@media screen and (max-width: 280px) {
  .blog__post {
    margin: 5px;
  }
}
