/* Submission Body */
.submission__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.submission__content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submission__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

/* Submit Button */
.submit__button {
  background: #ff0844;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 4px;
  border: none;
  margin-top: 2rem;
}

.submit__button a {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  text-decoration: none;
  padding: 14px 32px;
  outline: none;
  color: #fff;
}

.submit__button:hover {
  background: #be0735;
  transition: all 0.3 ease;
}

/* Submit Image */
.submit__image--container {
  text-align: center;
}

#submit__image {
  height: 100%;
  width: 100%;
}

/* Blog Body */

.blog__container {
  padding: 15px 50px;

}

.blog__content {
  width: 100%;
  display: flex;
  overflow-x: auto;
  padding: 15px 0;
  }

.blog__post {
  display: grid;
  grid-template-columns: auto;
  flex: 0 0 auto;
  margin-right: 20px;
  border: none;
  width: 300px;
  height: 600px;
  background: white;
  position: relative;
}

/* Button To The Music Section */
#viewAll {
  width: 75px;
  opacity: 85%;
}

#viewAll:hover {
  opacity: 70%;
}

#viewAll i {
  color: #000;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  padding-right: 3px;
  width: auto;
  font-size: 2rem;
}

/* Blog Cover Image */

.album__cover {
  width: 300px;
}

.blog__image {
  float: left;
  position: relative;
  height: 300px;
}

.blog__post a {
  position: relative;
  z-index: 10;
}

/* Blog Link To Article */

.post__button {
  text-decoration: none;
  color: black;
  width: max-content;
}

.post__button:hover {
  text-decoration: none;
  text-decoration: underline;
}

.blog__link {
  width: max-content;
  height: max-content;
}

.icons i{
  margin-top: 4px;
}

/* Blog Text */

.authorTitle {
  display: grid;
  grid-template-columns: 20px auto;
  font-size: 1rem;
  padding-left: 5px;
  padding-top: 3px;
  width: max-content;
}

.blog__text {
  position: relative;
  height: 300px;
}

.blog__text h1 {
  font-size: 1.2rem;
}

.blog__text h2 {
  font-size: 1rem;
}

.blog__text p {
  padding: 3px 5px;
}

.blog__text h5 {
  padding: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Horizontal Scrollbar */

.blog__content::-webkit-scrollbar {
  height: 8px;
}

/* YouTube Section */
.youtube__container {
  padding: 15px;
}

.latest__video iframe {
  width: 560px;
  height: 313px;
  display: block;
  margin: 10px auto;
}

/* Mobile Responsive*/
@media screen and (max-width: 913px) {
  /* Submissions Body */
  .submission__container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding-bottom: 15px;
  }

  .submission__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .submission__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .submission__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  /* Blog Body */

  .blog__post {
    display: block;
    width: 100%;
    height: 600px;
  }

  .blog__image {
    height: auto;
  }

  .album__cover {
    width: 100%;
  }
  
  .blog__text {
    height: 580px;
  }
  
  .blog__post {
    width: 100%;
    height: 580px;
  }

  /* Button To The Music Section */
  #viewAll a {
    display: block;
    color: #000;
    margin: 0;
    position: absolute;
    padding-right: 3px;
    width: 100%;
    height: 100%;
    font-size: 2rem;
  }
}

/* Mobile Responsive - Tablets*/
@media screen and (min-width: 768px) and (max-width: 913px) {

  /* Submissions Body */
  .submission__content h1 {
    font-size: 4rem;
  }

  .submission__content p {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  /* Submit Button */

  .submit__button a {
    padding: 30px 70px;
    font-size: 2rem;
  }

  /* Blog Body */
  .blog__content {
    height: 670px;
  }
  
  .blog__post {
    width: 50%;
    height: auto;
  }

  .blog__text {
    height: 630px;
  }

  .authorTitle {
    font-size: 1.5rem;
  }

  .names {
    padding-left: 10px;
  }

  .authorTitle h1{
    font-size: 1.5rem;
  }

  .authorTitle h2 {
    font-size: 1.3rem;
  }

  .blog__text p {
    font-size: 1.1rem;
  }

}

/* Mobile Responsive - Phones*/
@media screen and (max-width: 767px) {
  .submit__button a {
    padding: 15px 40px;
    font-size: 1.5rem;
  }

  .blog__content {
    height: 670px;
  }
  
  .blog__post {
    width: 70%;
    height: auto;
  }

  .blog__text {
    height: 630px;
  }

  .section__title {
    font-size: 1.2rem;
  }

  .latest__video iframe {
    width: 500px;
    height: 279px;
  }

}@media screen and (max-width: 590px) {
  .latest__video iframe {
    width: 350px;
    height: 194px;
  }
}

@media screen and (max-width: 480px) {
  /* Submission Body */
  .submission__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .submission__content p {
    font-size: 1.5rem;
  }

  /* Submit Button */
  .submit__button {
    padding: 6px 18px;
  }

  .latest__video iframe {
    width: 250px;
    height: 140px;
  }
}

@media screen and (max-width: 364px) {

  .latest__video iframe {
    width: 180px;
    height: 101px;
  }
}